*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/encodings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/runConfigurations.xml

.idea/modules.xml

.idea/vcs.xml

mobile/google-services.json

things/google-services.json
