*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/encodings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/runConfigurations.xml

.idea/modules.xml

.idea/vcs.xml

mobile/google-services.json

things/google-services.json

cloud-functions/functions/node_modules
cloud-functions/node_modules

cloud-functions/functions/serviceAccountKey.json

cloud-functions/.firebaserc

# NodeJS Dependency directories
node_modules/
assistant/fake-oauth-server-nodejs/node_modules
# Actions on Google binary and credentials, ngrok
creds.data
ngrok

# Firebase service account private key
serviceAccountKey.json